@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    font-family: "Open Sans", sans-serif;
}

:root {
    --main-color: rgb(73, 0, 209);
    --main-hover: rgb(64, 0, 182);
    --accent-color: rgb(255, 187, 0);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}

nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    width: 100%;
    height: 9vh;
    top: 0;
}

nav .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
   
}

#logo h2 {
    font-size: 28px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s ease-in;
}

#logo h2:hover {
    color: var(--accent-color);
}

#search-bar {
    width: 800px;
    height: 5vh;
    display: inline-flex;
    
}

#search-bar input {
    flex-grow: 1;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: white;
    font-size: 16px;
}

#search-bar button {
    width: 50px;
    background-color: var(--main-color);
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    user-select: none;
    font-size: 18px;
    transition: 0.3s ease-out;
    color: white;
    
}

#search-bar button:hover {
    background-color: var(--accent-color);
    color: black;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    gap: 25px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
}

nav ul a {
   padding: 12px 20px;
   /* border-radius: 5px 5px 0 0; */
    cursor: pointer;
    transition: 0.2s ease-in;
    border-radius: 5px;
}

nav ul a:hover {
    background-color: white;
    color: black;
}

.active {
    background-color: var(--main-color);
}

#cart-text {
  margin-left: 10px;
}

main {
    margin: 14vh 20vw;
    height: 100vh;
}

.hero {
    background-image: linear-gradient(to bottom right, rgb(240, 240, 240),  white); 
    /* background-color: rgb(238, 238, 238); */
    width: 100%;
    height: 40vh;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .images {
    display: flex;
    margin-right: 50px;
}

.hero img {
    width: 250px;
}


.hero .description {
    margin-left: 50px;
   width: 100%;
}


.description h1 {
    font-size: 30px;
    color: rgb(0, 0, 0);

}

.description h2 {
    color: rgb(0, 0, 0);
    font-size: 32px;
}

.description button {
    padding: 15px 20px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.description button:hover {
    background-color: var(--accent-color);
    color: black;
}
